*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
}
header,footer{
    height: 10vh;
    background-color: lightblue;
}
main{
    height: 80vh;
    overflow-y: auto;
    background-color: lightcoral;
}

.boards-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.board-tile {
    padding:50px;   
    color: white;
    background-size: cover;
    cursor: pointer;
}