<div class="card-details-wrapper">
  <div class="card-details-header">
    <div class="card-details-title"></div>
    <span class="card-details-list-title"></span>
  </div>
  <div class="card-details-meta">
    <div>
      <span class="card-details-members-title">MEMBERS</span>
      <div class="card-details-members"></div>
    </div>
    <div>
      <span class="card-details-labels-title">LABELS</span>
      <div class="card-details-labels"></div>
    </div>

  </div>
  <div class="card-details-description-wrapper">
    <span class="card-details-description-title">Description </span>
    <div class="card-details-description"></div>
  </div>
  <div class="card-details-activity-wrapper">
      <span class="card-details-activity-title">Activity</span>
      <div class="card-details-activity"></div>
  </div>
</div>
